body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    float: left;
}

nav ul li a, .dropbtn {
    color: white;
    display: inline-block;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
}

nav ul li a:hover, .dropdown:hover .dropbtn {
    background-color: #ddd;
    color: black;
}

nav ul li .dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#nav-toggle {
    display: none;
    background-color: #4a4855;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
}

body {
    margin-top: 60px;
    background-color: rgb(226, 195, 255);
}

/* lo hacemos responsive*/
@media (max-width: 768px) {
    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #333;
    }
    nav ul li a {
        padding: 1em;
        text-align: center;
    }
    #nav-toggle {
        display: block;
    }
    .nav-open ul {
        display: flex;
    }
}
